@font-face {
  font-family: "roboto";
  src: url("fonts/roboto-regular.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "italiana";
  src: url("fonts/italiana-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


